.idea/*
v8-compile-cache-0/*
.rnd
_ide_helper.php
.phpstorm.meta.php
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar/*
public/assets/css/admin.app.css
public/assets/css/web.app.css
public/assets/js/admin.app.js
public/assets/js/web.app.js
public/assets/js/vue.app.js
public/mix-manifest.json

/public/assets/uploads/*
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/*
/.history/*
/.vscode/*
go-pear.phar
