.dliver {
  margin-top: 40px;

  .sent-request {
    @extend %shadw;
    color: $color2;
    padding-right: 15px;
    padding-left: 15px;

    h2 {
      margin: 0;
      font-size: $font21;
    }

    form {
      border: 3px solid $color2;
      border-radius: 5px;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-right: 25px;
      margin-bottom: 30px;

      label {
        font-size: $font21;
      }
    }

    .near {
      // input {
      //     margin-left: 15px;
      // }
      select {
        @extend %select;
        width: 90%;

        &:focus {
          outline: none;
        }
      }
      position: relative;

      .label1 {
        input {
          display: none;
        }

        span {
          display: block;
        }

        .show {
          color: #13A651;
        }

        .span1 {
          margin-right: 20px;
        }

        input[type="radio"] + .span1:before {
          content: url("../img/Icons/unselected_dark.png");
          margin-top: 0;
          position: absolute;
          right: 12px;
        }

        input[type="radio"]:checked + .span1:before {
          content: url("../img/Icons/selected.png");
          margin-top: 5px;
        }
      }
    }

    .near2,
    .near3 {
      border: 3px solid #333333;
      border-radius: 5px;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-right: 25px;
      margin-bottom: 30px;
      padding-left: 25px;

      input[type=radio] {
        margin-left: 15px;
      }

      .chose2 {
        margin-top: 37px;

        input[type=checkbox] {
          margin-left: 15px;
          margin-top: 12px;
        }

        label {
          // color: $color3;
          font-size: $font17;
          @extend %select-box;
          margin-top: 10px;
          cursor: pointer;

          input[type="checkbox"] + span:before {
            margin-top: 18px !important;
          }

          span {
            font-size: 14px;
          }
        }

        select {
          @extend %select;
        }
      }
    }
  }

  .near3 {
    border: 1px solid #D84861 !important;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
    cursor: pointer;

    h2 {
      color: #D84861;
    }
  }
}

.itms-request {
  @extend %shadw;
  padding-left: 5px;
  padding-right: 5px;

  h3 {
    font-size: $font21;
    margin-bottom: 30px;
  }

  .compiny {
    color: $color6;
  }

  table td,
  table th {
    border: none;
    color: $color3;
  }

  hr {
    background-color: $color4;
  }

  .yellow {
    color: $color4;
  }

  .buttons {
    .offer {
      background-color: #fff;
      color: $color3;
      font-weight: normal;
      border: 2px solid $color3;
    }

    .conforim {
      background-color: $color5;
      font-weight: normal;
    }

    .bay {
      line-height: 30px;
      font-weight: normal;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
.near4{
  select {
    @extend %select;
  }
  .btn{
    @extend %btn-style1;
  }

}
.nn{

  height: 22px;
  font-size: 15px;
  background-color: #D84861;
  color: #fff;
  border-radius: 2px;
  span{
    padding-right:  5px;
    display: inline-block;
  }
  small{
    display: inline-block;
    cursor: pointer;
  }

}
.hou{
  color: #999999;
font-size: 12px;
padding-top: 12px;
}
