$color1:#13A651;
$color2:#333333;
$color3:#999999;
$color4:#F8AA25;
$color5:#D84861;
$color6:#A0B8DC;
$font14:14px;
$font16:16px;
$font17:17px;
$font18:18px;
$font20:20px;
$font21:21px;
$font24:24px;
$font30:30px;